@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #11232f;
  --surface: #1b374a;
  --secondary-surface: #0e1a23;
  --primary: #e54de5;
  --secondary: #16dbbe;
  --tertiary: #ffc900;
  --positive: #46ffc8;
  --tentative: #ffd464;
  --destructive: #ff4444;
}

body {
  background-color: var(--background);
  color: var(--primary);
}